header {
    height: 86px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    background-color: #8fafe4;
}
.nav-box01 {
    width: 92px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box02 {
    width: 112px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box03 {
    width: 148px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box04 {
    width: 72px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}
.nav-box05 {
    width: 88px; height: 12px;
    border-radius: 2px;
    background: #CFCFCF;
}

h1 {
    background-color: #786fab;
}
.use-box {
    background-color: #5aa8b8;
    width: 228px; height: 25px;
    border-radius: 2px;
}
main {
    height: 400vh;
    background-color:#ebebeb;
}
footer {
    height: 68px;
    background-color: #cfd1d1;
}
