h2 {
    color:#000;
    font-size: 60px;
    font-weight: 200;
    line-height: 60px;
    letter-spacing: -2px;
}
.w200 {
    padding: 100px 60px;
    border: 5px solid red;
}
.w200-01 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.top-box {
    height: 793px;
    background-color: #DBDBDB;
    display: flex;
}
.top-list-box {
    flex-grow: 1;
}
.top-box-01 {
    background-color: orange;
}
.top-box-02 {
    background-color: blue;
}
/* .top-box-01 {
    width: 954px; height: 793px;
    background-color: bisque;
} */
.swiper-container-main02 {
    border: 5px solid #000;
}
.title-bar {
    border: 3px solid red;
}
.option-box {
    border: 3px solid blue;
    background-color: #DBE8DB;
    display: flex;
    gap: 8px;
}
.option01, .option02, .option03, .option04, .option05, .option06 {
    height: 439px;
    background-color: #FFE4E4;
    flex-grow: 1;
}

h3 {
    color:#000;
    font-size: 32px;
    font-weight: 50;
    line-height: 10px;
    letter-spacing: -2px;
    text-align: left;
}
