.section01 {
    background-color: #ececec;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sct-01-top-box {
    width: 950px; height: 200px;
    background-color: #AAEEF5;
} 
span {
    border: 1px solid #000;
}