.section01 {
    background-color: #ececec;
    height: 950px;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid {
    background-color: darkorange;
    width: 950px;
    margin-left: auto; margin-right: auto;
}
.sct-01-top-box {
    width: 100%; height: 200px;
    background-color: #AAEEF5;
} 
.sct-01-bottom-box {
    width: 100%; height: 384px;
    background-color: #FFD5D5;
    /* flex-grow: 1; */
}
span {
    border: 1px solid #000;
    display: inline-flex; padding: 20px;
}