.sct01 {
    height: 100vh;
    background-color: #d6d6d6;
    display: flex;
    justify-content: center;
    gap: 20px
}
.sctbox {
    width: 300px; height: 600px;
    background-color: #8a8a8a;
}
.sct02 {
    height: 100vh;
    background-color: #b59cad;
}
.sct03 {
    height: 100vh;
    background-color: #9ea8db;
}
.sct04 {
    height: 100vh;
    background-color: #9dcca6;
}
.sct05 {
    height: 100vh;
    background-color: #dbbca2;
}
.sct06 {
    height: 100vh;
    background-color: #a272ba;
}