.sale-section {
    background-color: #FFF;
    width: 1920px; height: 1838px; 
    padding: 64px 0;
    border: 1px solid #979797;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sale-top-box {
    background-color: #99FEF5;
    width: 100%; height: 992px;
    border: 1px solid #ff3d3d;
}
.sale-bottom-box {
    background-color: #568a85;
    width: 100%; height: 992px;
    border: 1px solid #ff3d3d;
}