body {
    border: 1px solid #bfd6be;
    background: #FFF;
}

header {
    border-bottom: 2px solid #bfd6be;
    height: 86px;
}
main {
    border-bottom: 2px dashed #bfd6be;
    /* width: 1920px; */
    height: 2526px;
    padding: 64px;
}

.sct-01, .sct-02, .sct-03, .sct-04 {
    background-color: #f3f3f3;
    border-bottom: 1px solid #000;
}
.sct-01 {
    /* background-color: antiquewhite; */
    display: flex;
    gap: 20px;

}
.sct01-left {
    width: 1100px;  height: 610px;
    background-color: yellow;
}
.sct01-right {
    background-color: green;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    
}
.sct01-rbox01 {
    background-color: cornflowerblue;
    flex-grow: 1;
    
}
.sct01-rbox02 {
    background-color: darkkhaki;
    flex-grow: 1;
}
.sct-03 {
    border:1px solid red;
}
.sct03-li {
    border: 1px solid orange;
}
footer {
    border-bottom: 2px dashed #bfd6be;
    height: 68px;
}