header {
    border: 1px solid #000;
}
.popup {
    background-color: #E8E8E8;
    padding-top: 12px; padding-bottom: 12px;
    text-align: center;
}

.top-bar {
    border: 1px solid red;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}
.menu01 {
    border: 1px solid rgb(0, 225, 255);
    width: 388px;
}
.logo-box {
    border: 1px solid rgb(0, 225, 255);
}
.user-box {
    border: 1px solid rgb(0, 225, 255);
    width: 388px;
    display: flex;
    justify-content:flex-end;
}
