/* transition 애니메이션 학습 후 2차 상단바 적용 -> 까지 시험범위 */

.popup::before {
    /* 아무것도 작성하지 않아도 content: ""; 코드 필수 */
    content: "";
    width: 30px;
}
.popup {
    background-color: #E8E8E8;
    padding-top: 12px; padding-bottom: 12px;
    text-align: center;
    color: #000;
    font-size: 10px;
    line-height: 15px; /* 145.631% */
    display: flex;
    justify-content: space-between;
    padding-left: 20px; padding-right: 20px;
}
.popup::after {
    content: "X";
    font-size: 20px;
    cursor: pointer;
    width: 30px; text-align: right;
}
.top-bar {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: 0.5s;
}
.top-bar:hover {
    /* calc() -> 속성값에서 사칙연산 가능 */
    /* padding: calc(16px + 8px); */
    padding-top: calc(16px + 8px);
    padding-bottom: calc(16px + 8px);
}
.menu01 {
    width: 388px;
}
.menu01-ul {
    display: flex; gap: 16px;
    align-items: center;
    height: 100%;
}
.m01-item {
    color: #000; font-size: 11px;
    line-height: 15px; /* 136.364% */
}
.menu02 {
    background-color: rgb(214, 214, 214);
    border-top: 1px solid rgba(0,0,0,0);
    /* height: 0; */
    height: 400px; transition: 0.5s;
    overflow: hidden;
    position: absolute;
    left: 0; right:0; top: 100%;
    display: flex;
    justify-content: center;
}

/* container -> 평균적으로 많이 사용하는 grid 이름 */
.menu02 > .container {
    border: 1px solid black;
    width: 1620px;
    display: flex;
}

.mn02-img-box {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mn02-img-item {
    width: 300px; height: 300px;
}
.mn02-img-item >a {height: 100%;}
.mn02-img-item img {
    width: 100%; height: 100%;
    object-fit: cover;
}

.mn02-nav {
    flex-grow: 1;
    display: flex; align-items: center;
    justify-content: center;
}
.mn02-nav>ul {
    display: flex; gap: 80px;
    border: 1px solid black;
}
/* .m02-item->1 */
.m02-item>a {
    font-size: 54px;
    font-weight: 700;
    color: #000;
}
.m02-item:hover>a {
    color: blue;
    text-decoration: underline;
}
.m02-item {
    position: relative;
    
}
.mn03-nav {
    position: absolute;
    justify-content: space-between;
    left: 0; right: 0%; top: calc(100% + 20px);
   justify-content: space-between;
   display: none;
}
.m02-item:hover > .mn03-nav {
    display: flex;
}

.m03-item>a {
    font-size: 24px; font-weight: 700;
    color: #565656;
    transition: 0.3s;
}
.m03-item:hover>a {
    color: #333;
    text-decoration: underline;
}
.logo-box {
    display: flex; align-items: center;
}
.user-box {
    width: 388px;
    display: flex;
    justify-content:flex-end;
    /* align-items: stretch; */
}
.user-box-ul {
    display: flex; gap: 16px;
    align-items: center;
    /* height: auto; 100% */
}
.user-item {
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}