header {
    border: 1px solid #000;
}
.popup {
    background-color: #E8E8E8;
    padding-top: 12px; padding-bottom: 12px;
    text-align: center;
    color: #000;
    font-size: 10px;
    line-height: 15px; /* 145.631% */
}

.top-bar {
    border: 1px solid red;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}
.menu01 {
    border: 1px solid rgb(0, 225, 255);
    width: 388px;
}
.menu01-ul {
    display: flex; gap: 16px;
}
.m01-item {
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}
.logo-box {
    border: 1px solid rgb(0, 225, 255);
}
.user-box {
    border: 1px solid rgb(0, 225, 255);
    width: 388px;
    display: flex;
    justify-content:flex-end;
}
.user-box-ul {
    display: flex; gap: 16px;
}
.user-item {
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}