
.popup::before {
    /* 아무것도 작성하지 않아도 content: ""; 코드 필수 */
    content: "";
    width: 30px;
}
.popup {
    background-color: #E8E8E8;
    padding-top: 12px; padding-bottom: 12px;
    text-align: center;
    color: #000;
    font-size: 10px;
    line-height: 15px; /* 145.631% */
    display: flex;
    justify-content: space-between;
    padding-left: 20px; padding-right: 20px;
}
.popup::after {
    content: "X";
    font-size: 20px;
    cursor: pointer;
    width: 30px; text-align: right;
}
.top-bar {
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
}
.menu01 {
    width: 388px;
}
.menu01-ul {
    display: flex; gap: 16px;
    align-items: center;
    height: 100%;
}
.m01-item {
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}
.logo-box {
    display: flex; align-items: center;
}
.user-box {
    width: 388px;
    display: flex;
    justify-content:flex-end;
    /* align-items: stretch; */
}
.user-box-ul {
    display: flex; gap: 16px;
    align-items: center;
    /* height: auto; 100% */
}
.user-item {
    color: #000;
    font-size: 11px;
    line-height: 15px; /* 136.364% */
}